.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:sans-serif;src:url(f1.woff)format("woff");}.ff1{font-family:sans-serif;line-height:0.677734;font-style:normal;font-weight:bold;visibility:visible;}
@font-face{font-family:sans-serif;src:url(f2.woff)format("woff");}.ff2{font-family:sans-serif;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:26.928000px;}
._3{width:28.600000px;}
._5{width:31.108000px;}
._2{width:40.744000px;}
._1{width:53.064000px;}
._6{width:64.812000px;}
._4{width:108.900000px;}
._9{width:515.152000px;}
._a{width:546.040000px;}
._8{width:563.024000px;}
._7{width:603.416000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.000000px;}
.y9{bottom:3.954000px;}
.y5{bottom:10.057998px;}
.yc{bottom:17.381999px;}
.y14{bottom:17.382001px;}
.y17{bottom:17.382003px;}
.y4{bottom:23.485999px;}
.y7{bottom:36.913997px;}
.y3{bottom:36.913999px;}
.y2{bottom:50.341998px;}
.yb{bottom:56.445998px;}
.y0{bottom:65.000000px;}
.y15{bottom:65.345005px;}
.y16{bottom:84.522001px;}
.y13{bottom:169.607023px;}
.y12{bottom:196.963009px;}
.y11{bottom:262.883022px;}
.y10{bottom:328.803036px;}
.yf{bottom:394.723019px;}
.ye{bottom:460.643032px;}
.yd{bottom:526.563030px;}
.ya{bottom:592.483028px;}
.y8{bottom:658.903020px;}
.y6{bottom:672.831028px;}
.y1{bottom:738.030025px;}
.h6{height:15.428000px;}
.h7{height:28.856001px;}
.h3{height:29.326172px;}
.h4{height:32.720703px;}
.h5{height:66.698998px;}
.h2{height:67.919998px;}
.h8{height:105.762001px;}
.h1{height:741.500000px;}
.h0{height:841.900024px;}
.w4{width:24.750000px;}
.w7{width:36.950001px;}
.w6{width:42.799999px;}
.w8{width:179.649994px;}
.w5{width:253.949997px;}
.w3{width:256.399994px;}
.wa{width:256.649994px;}
.w2{width:277.200012px;}
.w9{width:277.450012px;}
.wb{width:532.099976px;}
.w1{width:533.000000px;}
.w0{width:595.299988px;}
.x4{left:5.674000px;}
.xc{left:9.337000px;}
.x9{left:10.442000px;}
.x7{left:11.877000px;}
.x1{left:14.200000px;}
.x3{left:21.750000px;}
.xe{left:22.883000px;}
.x0{left:28.000000px;}
.xd{left:42.568001px;}
.x5{left:51.850000px;}
.xb{left:72.905997px;}
.x6{left:101.414000px;}
.x2{left:304.300013px;}
.x8{left:345.600000px;}
.xa{left:381.050013px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:35.904000pt;}
._3{width:38.133333pt;}
._5{width:41.477333pt;}
._2{width:54.325333pt;}
._1{width:70.752000pt;}
._6{width:86.416000pt;}
._4{width:145.200000pt;}
._9{width:686.869333pt;}
._a{width:728.053333pt;}
._8{width:750.698667pt;}
._7{width:804.554667pt;}
.fs0{font-size:58.666667pt;}
.y9{bottom:5.272001pt;}
.y5{bottom:13.410664pt;}
.yc{bottom:23.175999pt;}
.y14{bottom:23.176001pt;}
.y17{bottom:23.176004pt;}
.y4{bottom:31.314665pt;}
.y7{bottom:49.218662pt;}
.y3{bottom:49.218665pt;}
.y2{bottom:67.122664pt;}
.yb{bottom:75.261331pt;}
.y0{bottom:86.666667pt;}
.y15{bottom:87.126673pt;}
.y16{bottom:112.696002pt;}
.y13{bottom:226.142698pt;}
.y12{bottom:262.617345pt;}
.y11{bottom:350.510696pt;}
.y10{bottom:438.404048pt;}
.yf{bottom:526.297358pt;}
.ye{bottom:614.190709pt;}
.yd{bottom:702.084040pt;}
.ya{bottom:789.977371pt;}
.y8{bottom:878.537360pt;}
.y6{bottom:897.108037pt;}
.y1{bottom:984.040034pt;}
.h6{height:20.570667pt;}
.h7{height:38.474668pt;}
.h3{height:39.101562pt;}
.h4{height:43.627604pt;}
.h5{height:88.931997pt;}
.h2{height:90.559998pt;}
.h8{height:141.016001pt;}
.h1{height:988.666667pt;}
.h0{height:1122.533366pt;}
.w4{width:33.000000pt;}
.w7{width:49.266668pt;}
.w6{width:57.066666pt;}
.w8{width:239.533325pt;}
.w5{width:338.599996pt;}
.w3{width:341.866659pt;}
.wa{width:342.199992pt;}
.w2{width:369.600016pt;}
.w9{width:369.933350pt;}
.wb{width:709.466634pt;}
.w1{width:710.666667pt;}
.w0{width:793.733317pt;}
.x4{left:7.565333pt;}
.xc{left:12.449334pt;}
.x9{left:13.922667pt;}
.x7{left:15.836000pt;}
.x1{left:18.933333pt;}
.x3{left:29.000000pt;}
.xe{left:30.510667pt;}
.x0{left:37.333333pt;}
.xd{left:56.757334pt;}
.x5{left:69.133334pt;}
.xb{left:97.207996pt;}
.x6{left:135.218667pt;}
.x2{left:405.733350pt;}
.x8{left:460.800001pt;}
.xa{left:508.066683pt;}
}
